body {
    font-family: "Mulish", sans-serif;
}

.container {
    max-width: 1160px;
    margin: 0 auto;
}

#logo-1 {
    width: 48px;
    height: 56px;
}

.logo-head {
    display: flex;
    gap: 10px;
    align-items: center;
}

#start-travel {
    color: #131318;
}

.nav-title {
    color: #FF5400;
    font-family: Mulish;
    font-size: 36px;
    font-weight: 800;
}

.nav-sec .nav-ul .nav-menu li {
    list-style: none;
}

.nav-sec .nav-ul .nav-menu a {
    text-decoration: none;
}

.nav-sec .nav-ul {
    display: flex;
    gap: 44px;
}

.nav-sec .nav-ul .nav-menu {
    display: flex;
    gap: 44px;
}

.nav-sec .nav-ul li:hover {
    background: aqua
}

.nav-sec {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#hamburger-icon {
    margin: 0;
    padding: 0;
    cursor: pointer;
    display: none;
}

#home {
    color: #FF5400;
    font-weight: 700;
}

.banner {
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url("../Images/Group-13.png");
    border-radius: 16px;
    background-repeat: no-repeat;
    height: 500px;
    text-align: center;
}

.banner .banner-texts {
    padding-top: 106px;
}

.banner .banner-texts h1 {
    color: #FFF;
    font-size: 64px;
    font-weight: 800;
}

.banner .banner-texts p {
    padding: 0 247px;
    color: #FFF;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.banner .banner-input {
    max-width: 790px;
    display: flex;
    padding: 24px;
    justify-content: space-between;
    margin: 0 auto;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
}

#one {
    width: 174px;
    height: 50px;
    border-radius: 8px;
    background: #FFF;
    color: rgba(19, 19, 24, 0.50);
    font-size: 16px;
    font-weight: 400;
    padding-left: 15px;
    border: none;
    outline: none;
}

#two {
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FFF;
    color: rgba(19, 19, 24, 0.50);
    font-size: 16px;
    font-weight: 400;
    padding-left: 15px;
    border: none;
    outline: none;
}

#three {
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FFF;
    color: rgba(19, 19, 24, 0.50);
    font-size: 16px;
    font-weight: 400;
    padding-left: 15px;
    border: none;
    outline: none;
}

.btn-one {
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 700;
    border: none;
    outline: none;
}

.popular {
    display: flex;
    margin: 100px auto;
    gap: 53px;
}

.popular .popular-title {
    color: #131318;
    font-family: Mulish;
    font-size: 40px;
    font-weight: 800;
}

.popular .popular-txt,
.popular-ul,
.popular-end {
    color: rgba(19, 19, 24, 0.70);
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.btn-two {
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 700;
    border: none;
    outline: none;
}

.destination .destination-sec {
    text-align: center;
}

.destination .destination-sec .destination-title {
    color: #131318;
    font-family: Mulish;
    font-size: 40px;
    font-weight: 800;
}

.destination .destination-sec .destination-txt {
    color: rgba(19, 19, 24, 0.70);
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding-right: 200px;
    padding-left: 200px;
    padding-bottom: 20px;
}

.destination .desti-img {
    margin-bottom: 100px;
}

.destination .desti-img .desti-img-one,
.desti-img-two,
.desti-img-three {
    display: flex;
    margin: 24px auto;
    gap: 24px;
}

#img-1 {
    position: relative;
}

#maldives {
    position: absolute;
    bottom: 100px;
    left: 220px;
    color: #FFF;
    font-family: Mulish;
    font-size: 28px;
    font-weight: 800;
}

#img-2 {
    position: relative;
}

#indonesia {
    position: absolute;
    bottom: 100px;
    left: 220px;
    color: #FFF;
    font-family: Mulish;
    font-size: 28px;
    font-weight: 800;
}

#img-3 {
    position: relative;
}

#srilanka {
    position: absolute;
    bottom: 100px;
    left: 140px;
    color: #FFF;
    font-family: Mulish;
    font-size: 28px;
    font-weight: 800;
}

#img-4 {
    position: relative;
}

#north-america {
    position: absolute;
    bottom: 100px;
    left: 140px;
    color: #FFF;
    font-family: Mulish;
    font-size: 28px;
    font-weight: 800;
}

#img-5 {
    position: relative;
}

#kashmir {
    position: absolute;
    bottom: 100px;
    left: 80px;
    color: #FFF;
    font-family: Mulish;
    font-size: 28px;
    font-weight: 800;
}

#img-6 {
    position: relative;
}

#bangladesh {
    position: absolute;
    bottom: 100px;
    left: 150px;
    color: #FFF;
    font-family: Mulish;
    font-size: 28px;
    font-weight: 800;
}

#img-7 {
    position: relative;
}

#bandarban {
    position: absolute;
    bottom: 100px;
    left: 250px;
    color: #FFF;
    font-family: Mulish;
    font-size: 28px;
    font-weight: 800;
}

.choose .choose-sec {
    text-align: center;
}

.choose .choose-sec .choose-title {
    color: #131318;
    font-family: Mulish;
    font-size: 40px;
    font-weight: 800;
}

.choose .choose-sec .choose-txt {
    color: rgba(19, 19, 24, 0.70);
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding-right: 200px;
    padding-left: 200px;
    padding-bottom: 20px;
}

.choose .hotel-map {
    display: flex;
    gap: 24px;
    margin: 0 auto;
    padding-bottom: 24px;
}

.choose .hotel-map .hotel {
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    width: 50%;
    padding: 32px 55px 32px 32px;
}

.choose .hotel-map .map {
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    width: 50%;
    padding: 32px 55px 32px 32px;
}

.choose .price-tag {
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    margin: 0 300px;
    margin-bottom: 100px;
    padding: 32px 55px 32px 32px;
}

#choose-shared {
    color: #131318;
    font-size: 20px;
    font-weight: 800;
}

#choose-shared-txt {
    color: #5A5A5D;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

/* deals & discounts style starts */

.deals-heading h1 {
    color: #131318;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

.deals-heading p {
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 48px;
}

.deal-head {
    color: #131318;
    font-size: 24px;
    font-weight: 800;
}

.deal-txt {
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.deal-price {
    color: #FF5400;
    font-size: 20px;
    font-weight: 800;
}
.btn-package{    
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 700;
    border: none;
    outline: none;
    margin-left: 800px;
    margin-top: 48px;
}
.deals {
    border-radius: 16px;
    background: url('../Images/Group-39.png');
    height: 500px;
    position: relative;
    margin-top: 24px;
}

.deals .icons-share {
    display: flex;
    gap: 20px;
    align-items: center;
}

.deals .icons-share img {
    height: 24px;
    width: 24px;
}

.deals .maldives-package {
    position: absolute;
    top: 56px;
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
    margin: 0 56px 56px 535px;
    padding: 52px;
}

.deals-two {
    border-radius: 16px;
    background: url('../Images/Group-40.png');
    height: 500px;
    position: relative;
    margin-top: 24px;
}

.deals-two .icons-share {
    display: flex;
    gap: 20px;
    align-items: center;
}

.deals-two .icons-share img {
    height: 24px;
    width: 24px;
}

.deals-two .malaysia-package {
    position: absolute;
    top: 56px;
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
    margin: 0 535px 56px 56px;
    padding: 52px;
}

.deals-three {
    border-radius: 16px;
    background: url('../Images/Group-13.png');
    height: 500px;
    position: relative;
    margin-top: 24px;
}

.deals-three .icons-share {
    display: flex;
    gap: 20px;
    align-items: center;
}

.deals-three .icons-share img {
    height: 24px;
    width: 24px;
}

.deals-three .vietnam-package {
    position: absolute;
    top: 56px;
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
    margin: 0 56px 56px 535px;
    padding: 52px;
}

/* deals & discounts style ends */
.newsletter {
    display: flex;
    gap: 24px;
    position: relative;
    margin-bottom: 100px;
    margin-top: 100px;
}

.newsletter img {
    width: 640px;
}

.newsletter .newsletter-content {
    padding: 40px;
    border: 1px solid #FF5400;
    border-radius: 20px;
}

.newsletter .newsletter-content h4 {
    color: #131318;
    font-family: Mulish;
    font-size: 24px;
    font-weight: 800;
}

.newsletter .newsletter-content p {
    color: #5A5A5D;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 24px;
}

#news-input {
    display: flex;
    flex-direction: column;
}

#news-name {
    width: 393px;
    height: 52px;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    padding-left: 15px;
    margin-top: 24px;
    margin-bottom: 16px;
    border: none;
    outline: none;
}

#news-email {
    width: 393px;
    height: 52px;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    padding-left: 15px;
    margin-bottom: 24px;
    border: none;
    outline: none;
}

#news-img {
    position: relative;
}

#seventy {
    position: absolute;
    transform: rotate(-20deg);
    bottom: 50px;
    right: 15px;
    border-radius: 16px;
    background: #FF5400;
    width: 324px;
    height: 120px;
    padding-top: 30px;
}

#travel {
    color: #FFF;
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    margin-top: 0;
}

#save {
    font-size: 32px;
    font-weight: 800;
}

#end-travel {
    color: #131318;
}

/* bonus sec */

.bonus .bonus-heading {
    color: #131318;
    font-size: 40px;
    font-weight: 800;
    text-align: center;
}

.bonus .bonus-txt {
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 30px;
}

.bonus .bonus-collection {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.bonus .bonus-collection .img-div {
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    padding: 15px;
}

.bonus .bonus-collection .bonus-head {
    color: #18191F;
    font-size: 28px;
    font-weight: 800;
}

.bonus .bonus-collection .bonus-price {
    color: rgba(0, 0, 0, 0.87);
    font-size: 14px;
    font-weight: 400;
}

.bonus .bonus-collection .bonus-txt {
    color: #5A5A5D;
    font-size: 14px;
    font-weight: 700;
}

#btn-three {
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 700;
    border: none;
    outline: none;
    margin-left: 985px;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* bonus end */
footer {
    background: rgba(19, 19, 24, 0.05);
    text-align: center;
    padding-bottom: 100px;
}

footer .footer-content {
    padding: 0 284px;
}

footer .footer-content img {
    padding-bottom: 50px;
    padding-top: 35px;
}

footer .footer-content .logo-end {
    display: flex;
    gap: 10px;
    align-content: center;
    padding-left: 430px;
}

.end-title {
    color: #FF5400;
    font-family: Mulish;
    font-size: 36px;
    font-weight: 800;
}

@media screen and (max-width: 576px) {
    .nav-sec .nav-ul {
        display: none;
    }

    #hamburger-icon {
        display: block;
    }

    .banner {
        width: 100%;
    }

    .banner .banner-texts h1 {
        margin-bottom: 0;
        padding-top: 32px;
        font-size: 22px;
    }

    .banner .banner-texts {
        padding-top: 0;
        padding-bottom: 32px;
        font-size: 14px;
    }

    .banner .banner-texts p {
        padding: 10px;
        margin: 0;
        color: #FFF;
        line-height: normal;
    }

    .banner .banner-input {
        flex-direction: column;
        align-items: center;
        padding: 0;
        max-width: 300px;
        gap: 16px;
    }

    #one {
        width: 260px;
    }

    #two {
        width: 280px;
    }

    #three {
        width: 280px;
    }

    .btn-one {
        width: 280px;
    }

    .popular {
        flex-direction: column;
        padding-left: 10px;
        margin: 0;
    }

    .popular .destination-img img {
        height: auto;
        max-width: 350px;
    }

    .popular .popular-title {
        font-size: 20px;
    }

    .popular .popular-txt,
    .popular-ul,
    .popular-end {
        font-size: 14px;
    }

    .destination .destination-sec .destination-txt {
        padding-right: 0;
        padding-left: 0;
        font-size: 13px;
    }

    .destination .destination-sec .destination-title {
        font-size: 20px;
    }

    .destination .desti-img .desti-img-one,
    .desti-img-two,
    .desti-img-three {
        flex-direction: column;
        margin: 10px;
        gap: 16px;
    }

    #img-1 img {
        width: 100%;
    }

    #maldives {
        bottom: 40px;
        left: 120px;
    }

    #img-2 img {
        width: 100%;
    }

    #indonesia {
        bottom: 50px;
        left: 120px;
    }

    #img-3 img {
        width: 100%;
        height: 190px;
    }

    #srilanka {
        bottom: 50px;
        left: 120px;
    }

    #img-4 img {
        width: 100%;
        height: 190px;
    }

    #north-america {
        bottom: 50px;
        left: 100px;
    }

    #img-5 img {
        width: 100%;
        height: 190px;
    }

    #kashmir {
        bottom: 50px;
        left: 110px;
    }

    #img-6 img {
        width: 100%;
        height: 190px;
    }

    #bangladesh {
        bottom: 50px;
        left: 110px;
    }

    #img-7 img {
        width: 100%;
        height: 190px;
    }

    #bandarban {
        bottom: 50px;
        left: 110px;
    }

    .destination .desti-img {
        margin-bottom: 0;
    }

    .choose .choose-sec .choose-title {
        font-size: 20px;
    }

    .choose .choose-sec .choose-txt {
        padding-right: 30px;
        padding-left: 30px;
        font-size: 14px;
    }

    .choose .hotel-map {
        flex-direction: column;
        width: 500px;
        margin-left: 20px;
    }

    .choose .price-tag {
        width: 250px;
        margin-left: 20px;
        margin-bottom: 24px;
    }

    .newsletter {
        flex-direction: column;
    }

    .newsletter img {
        width: 100%;
    }

    #news-name {
        width: 280px;
        height: 52px;
    }

    #news-email {
        width: 280px;
        height: 52px;
    }

    #news-input .btn-two {
        width: 295px;
        height: 52px;
    }

    #seventy {
        width: 150px;
        height: 40px;
        bottom: 30px;
        right: 25px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    #travel {
        font-size: 15px;
    }

    #save {
        font-size: 19px;
    }

    .bonus .bonus-collection {
        grid-template-columns: repeat(1, 1fr);
        padding: 10px;
    }

    #btn-three {
        margin-left: 190px;
    }

    footer .footer-content {
        padding: 0;
    }

    footer .footer-content img {
        padding-top: 35px;
    }

    footer .footer-content .logo-end {
        padding-left: 50px;
    }

}