body {
    font-family: "Mulish", sans-serif;
}

.container {
    max-width: 1160px;
    margin: 0 auto;
}

#logo-1 {
    width: 48px;
    height: 56px;
}

.logo-head {
    display: flex;
    gap: 10px;
    align-items: center;
}

#travel {
    color: #131318;
}

.nav-title {
    color: #FF5400;
    font-family: Mulish;
    font-size: 36px;
    font-weight: 800;
}

.container ul li {
    list-style: none;
}


.nav-sec {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-menu {
    display: flex;
    gap: 44px;
}

.nav-menu a {
    text-decoration: none;
    color: #424247;
    font-family: Mulish;
    font-size: 18px;
    font-weight: 400;
}

#home {
    color: #FF5400;
    font-weight: 700;
}

.banner {
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url("../Images/Group-13.png");
    border-radius: 16px;
    background-repeat: no-repeat;
    height: 500px;
    text-align: center;
}

.banner .banner-texts {
    padding-top: 106px;
}

.banner .banner-texts h1 {
    color: #FFF;
    font-size: 64px;
    font-weight: 800;
}

.banner .banner-texts p {
    padding: 0 247px;
    color: #FFF;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.banner .banner-input {
    max-width: 790px;
    display: flex;
    padding: 24px;
    justify-content: space-between;
    margin: 0 auto;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
}

#one {
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FFF;
    color: rgba(19, 19, 24, 0.50);
    font-size: 16px;
    font-weight: 400;
    padding-left: 15px;
    border: none;
}

#two {
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FFF;
    color: rgba(19, 19, 24, 0.50);
    font-size: 16px;
    font-weight: 400;
    padding-left: 15px;
    border: none;
}

#three {
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FFF;
    color: rgba(19, 19, 24, 0.50);
    font-size: 16px;
    font-weight: 400;
    padding-left: 15px;
    border: none;
}

.btn-one {
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 700;
    border: none;
}